.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1.875rem;
  padding: 1.25rem 0;
  align-items: stretch;
  margin-bottom: 5rem;
}

@media (max-width: 40.625em) {
  .grid {
    grid-template-columns: 1fr;
  }
}