.header {
    width: 100%;
    height: 4.375rem;
    background-color: var(--main-bg-color);
    padding: 0.625rem 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);

    p {
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        cursor: pointer;
        user-select: none;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease;
}

.logoIcon {
    font-size: 1.8rem;
    color: var(--green-color);
}

.logoText {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-color);
    letter-spacing: -0.0313rem;
}

.navLinksWrapper {
    display: flex;
    gap: 1.875rem;
}

.navLinksWrapper a {
    color: var(--text-color);
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.navLinksWrapper a.active,
.navLinksWrapper a:hover {
    color: var(--blue-color);
    border-bottom: 1px solid var(--blue-color);
}

@media (max-width: 40.625em) {
    .header {
        padding: 0.625rem 0.95rem;
        flex-direction: column;
        height: auto;
        gap: 0.9375rem;
    }
}